:root {
    --lang-color: #18181b;
    --lang-background: #fff;
    --text-shadow: #fff;
    --selection-shade: #bddafd;
    --accent-1: #07a;
    --accent-2: #690;
    --accent-3: #905;
    --accent-4: #df9306;
    --hue-1: hsla(0, 0%, 100%, .5);
    --hue-2: #999;
    --hue-3: crimson
}

:not(pre)>code[class*=language-] {
    background: var(--lang-background);
    padding: .1em;
    border-radius: .3em;
    white-space: normal
}

*,
:after,
:before {
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-scroll-snap-strictness: proximity;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000
}

:after,
:before {
    --tw-content: ""
}

html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-feature-settings: normal;
    font-variation-settings: normal;
    scroll-behavior: smooth
}

body {
    background-image: url(../images/noise.png);
    background-size: 200px 200px;
    background-position: 0 0;
    margin: 0;
    line-height: inherit
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit
}

a {
    color: inherit;
    text-decoration: inherit
}

.nav-links {
    transition: color 0.3s ease-in-out;
}
.nav-links:hover {
    color: rgb(82 82 91 / 1) !important; 
}

b {
    font-weight: bolder
}

small {
    font-size: 80%
}

[type=button],
[type=reset],
[type=submit] {
    -webkit-appearance: button;
    appearance: button;
    background-color: transparent;
    background-image: none
}

:-moz-focusring {
    outline: auto
}

:-moz-ui-invalid {
    box-shadow: none
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    appearance: textfield;
    outline-offset: -2px
}

::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

summary {
    display: list-item
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0
}

ul {
    list-style: none;
    margin: 0;
    padding: 0
}

.tech-stack{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.tech-stack li{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    font-size: large;
}
.tech-stack img{
    width: 40px;
}

[role=button] {
    cursor: pointer
}

:disabled {
    cursor: default
}

img,
object,
svg {
    display: block;
}

img {
    max-width: 100%;
    height: auto
}

[hidden] {
    display: none
}

::backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-scroll-snap-strictness: proximity;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000
}

.absolute {
    position: absolute
}

.relative {
    position: relative
}

.-left-80 {
    left: -20rem
}

.-top-7 {
    top: -1.75rem
}

.bottom-1\/2 {
    bottom: 50%
}

.bottom-auto {
    bottom: auto
}

.left-0 {
    left: 0
}

.top-0 {
    top: 0
}

.top-10 {
    top: 2.5rem
}

.top-2 {
    top: .5rem
}

.z-10 {
    z-index: 10
}

.z-30 {
    z-index: 30
}

.mx-auto {
    margin-left: auto;
    margin-right: auto
}

.my-1 {
    margin-top: .25rem;
    margin-bottom: .25rem
}

.my-3 {
    margin-top: .75rem;
    margin-bottom: .75rem
}

.my-4 {
    margin-top: 1rem;
    margin-bottom: 1rem
}

.my-6 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem
}

.my-8 {
    margin-top: 2rem;
    margin-bottom: 2rem
}

.mb-1 {
    margin-bottom: .25rem
}

.mb-10 {
    margin-bottom: 2.5rem
}

.mb-12 {
    margin-bottom: 3rem
}

.mb-16 {
    margin-bottom: 4rem
}

.mb-2 {
    margin-bottom: .5rem
}

.mb-3 {
    margin-bottom: .75rem
}

.mb-4 {
    margin-bottom: 1rem
}

.mb-6 {
    margin-bottom: 1.5rem
}

.mb-8 {
    margin-bottom: 2rem
}

.mt-10 {
    margin-top: 2.5rem
}

.mt-12 {
    margin-top: 3rem
}

.mt-2 {
    margin-top: .5rem
}

.mt-20 {
    margin-top: 5rem
}

.mt-3 {
    margin-top: .75rem
}

.mt-32 {
    margin-top: 8rem
}

.mt-4 {
    margin-top: 1rem
}

.mt-44 {
    margin-top: 11rem
}

.mt-5 {
    margin-top: 1.25rem
}

.mt-6 {
    margin-top: 1.5rem
}

.mt-8 {
    margin-top: 2rem
}

.block {
    display: block
}

.flex {
    display: flex
}

.grid {
    display: grid
}

.hidden {
    display: none
}

.h-11 {
    height: 2.75rem
}

.h-12 {
    height: 3rem
}

.h-14 {
    height: 3.5rem
}

.h-28 {
    height: 7rem
}

.h-40 {
    height: 10rem
}

.h-5 {
    height: 1.25rem
}

.h-56 {
    height: 14rem
}

.h-7 {
    height: 1.75rem
}

.h-8 {
    height: 2rem
}

.h-96 {
    height: 24rem
}

.h-full {
    height: 100%
}

.h-max {
    height: -moz-max-content;
    height: max-content
}

.max-h-96 {
    max-height: 24rem
}

.min-h-\[110px\] {
    min-height: 110px
}

.min-h-\[28px\] {
    min-height: 28px
}

.min-h-\[60vh\] {
    min-height: 60vh
}

.min-h-\[80px\] {
    min-height: 80px
}

.min-h-full {
    min-height: 100%
}

.w-1\/3 {
    width: 33.333333%
}

.w-12 {
    width: 3rem
}

.w-28 {
    width: 7rem
}

.w-5 {
    width: 1.25rem
}

.w-52 {
    width: 13rem
}

.w-full {
    width: 100%
}

.min-w-\[28px\] {
    min-width: 28px
}

.min-w-\[80px\] {
    min-width: 80px
}

.min-w-full {
    min-width: 100%
}

.max-w-2xl {
    max-width: 42rem
}

.max-w-3xl {
    max-width: 48rem
}

.max-w-4xl {
    max-width: 56rem
}

.max-w-5xl {
    max-width: 64rem
}

.max-w-6xl {
    max-width: 72rem
}

.max-w-7xl {
    max-width: 80rem
}

.max-w-full {
    max-width: 100%
}

.max-w-lg {
    max-width: 32rem
}

.max-w-md {
    max-width: 28rem
}

.max-w-sm {
    max-width: 24rem
}

.max-w-xl {
    max-width: 36rem
}

.flex-shrink-0 {
    flex-shrink: 0
}

@keyframes pulse {
    50% {
        opacity: .5
    }
}

.grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr))
}

.flex-row {
    flex-direction: row
}

.flex-col {
    flex-direction: column
}

.flex-wrap {
    flex-wrap: wrap
}

.place-content-center {
    place-content: center
}

.place-items-center {
    place-items: center
}

.items-start {
    align-items: flex-start
}

.items-center {
    align-items: center
}

.justify-start {
    justify-content: flex-start
}

.justify-center {
    justify-content: center
}

.justify-between {
    justify-content: space-between
}

.justify-items-center {
    justify-items: center
}

.gap-2 {
    gap: .5rem
}

.gap-4 {
    gap: 1rem
}

.gap-5 {
    gap: 1.25rem
}

.gap-6 {
    gap: 1.5rem
}

.gap-8 {
    gap: 2rem
}

.gap-x-1 {
    -moz-column-gap: .25rem;
    column-gap: .25rem
}

.gap-x-12 {
    -moz-column-gap: 3rem;
    column-gap: 3rem
}

.gap-x-2 {
    -moz-column-gap: .5rem;
    column-gap: .5rem
}

.gap-x-3 {
    -moz-column-gap: .75rem;
    column-gap: .75rem
}

.gap-x-4 {
    -moz-column-gap: 1rem;
    column-gap: 1rem
}

.gap-x-5 {
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem
}

.gap-x-6 {
    -moz-column-gap: 1.5rem;
    column-gap: 1.5rem
}

.gap-x-8 {
    -moz-column-gap: 2rem;
    column-gap: 2rem
}

.gap-y-10 {
    row-gap: 2.5rem
}

.gap-y-12 {
    row-gap: 3rem
}

.gap-y-2 {
    row-gap: .5rem
}

.gap-y-4 {
    row-gap: 1rem
}

.gap-y-8 {
    row-gap: 2rem
}

.overflow-hidden {
    overflow: hidden
}

.overflow-clip {
    overflow: clip
}

.rounded-2xl {
    border-radius: 1rem
}

.rounded-full {
    border-radius: 9999px
}

.rounded-lg {
    border-radius: .5rem
}

.rounded-md {
    border-radius: .375rem
}

.rounded-none {
    border-radius: 0
}

.rounded-sm {
    border-radius: .125rem
}

.rounded-xl {
    border-radius: .75rem
}

.rounded-b-lg {
    border-bottom-right-radius: .5rem;
    border-bottom-left-radius: .5rem
}

.rounded-t-lg {
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem
}

.border {
    border-width: 1px
}

.border-x {
    border-left-width: 1px;
    border-right-width: 1px
}

.border-b {
    border-bottom-width: 1px
}

.border-r-0 {
    border-right-width: 0
}

.border-t {
    border-top-width: 1px
}

.border-transparent {
    border-color: transparent
}

.border-zinc-100 {
    --tw-border-opacity: 1;
    border-color: rgb(244 244 245/var(--tw-border-opacity))
}

.border-zinc-200 {
    --tw-border-opacity: 1;
    border-color: rgb(228 228 231/var(--tw-border-opacity))
}

.border-zinc-300 {
    --tw-border-opacity: 1;
    border-color: rgb(212 212 216/var(--tw-border-opacity))
}

.bg-secondary-bg {
    background-color: hsla(0, 0%, 98%, .4)
}

.bg-secondary-color {
    --tw-bg-opacity: 1;
    background-color: rgb(12 206 107/var(--tw-bg-opacity))
}

.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity))
}

.bg-zinc-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(244 244 245/var(--tw-bg-opacity))
}

.bg-zinc-200 {
    --tw-bg-opacity: 1;
    background-color: rgb(228 228 231/var(--tw-bg-opacity))
}

.bg-zinc-300 {
    --tw-bg-opacity: 1;
    background-color: rgb(212 212 216/var(--tw-bg-opacity))
}

.bg-zinc-50 {
    --tw-bg-opacity: 1;
    background-color: rgb(250 250 250/var(--tw-bg-opacity))
}

.bg-top {
    background-position: top
}

.object-cover {
    -o-object-fit: cover;
    object-fit: cover
}

.object-left-top {
    -o-object-position: left top;
    object-position: left top
}

.p-1 {
    padding: .25rem
}

.p-2 {
    padding: .5rem
}

.p-4 {
    padding: 1rem
}

.p-5 {
    padding: 1.25rem
}

.p-6 {
    padding: 1.5rem
}

.p-8 {
    padding: 2rem
}

.px-0 {
    padding-left: 0;
    padding-right: 0
}

.px-1 {
    padding-left: .25rem;
    padding-right: .25rem
}

.px-2 {
    padding-left: .5rem;
    padding-right: .5rem
}

.px-3 {
    padding-left: .75rem;
    padding-right: .75rem
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem
}

.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem
}

.px-8 {
    padding-left: 2rem;
    padding-right: 2rem
}

.py-1 {
    padding-top: .25rem;
    padding-bottom: .25rem
}

.py-10 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem
}

.py-16 {
    padding-top: 4rem;
    padding-bottom: 4rem
}

.py-2 {
    padding-top: .5rem;
    padding-bottom: .5rem
}

.py-3 {
    padding-top: .75rem;
    padding-bottom: .75rem
}

.py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem
}

.py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem
}

.py-\[0\.15rem\] {
    padding-top: .15rem;
    padding-bottom: .15rem
}

.text-left {
    text-align: left
}

.text-center {
    text-align: center
}

.font-incognito {
    font-family: var(--incognito)
}

.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem
}

.text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem
}

.text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem
}

.text-7xl {
    font-size: 4.5rem;
    line-height: 1
}

.text-\[0\.95rem\] {
    font-size: .95rem
}

.text-base {
    font-size: 1rem;
    line-height: 1.5rem
}

.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem
}

.text-sm {
    font-size: .875rem;
    line-height: 1.25rem
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem
}

.font-bold {
    font-weight: 700
}

.font-semibold {
    font-weight: 600
}

.uppercase {
    text-transform: uppercase
}

.leading-relaxed {
    line-height: 1.625
}

.leading-tight {
    line-height: 1.25
}

.tracking-tight {
    letter-spacing: -.025em
}

.tracking-widest {
    letter-spacing: .1em
}

.text-\[red\] {
    --tw-text-opacity: 1;
    color: rgb(255 0 0/var(--tw-text-opacity))
}

.text-primary-color {
    --tw-text-opacity: 1;
    color: rgb(51 224 146/var(--tw-text-opacity))
}

.text-secondary-color {
    --tw-text-opacity: 1;
    color: rgb(12 206 107/var(--tw-text-opacity))
}

.text-tertiary-color {
    --tw-text-opacity: 1;
    color: rgb(22 163 74/var(--tw-text-opacity))
}

.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

.text-zinc-200 {
    --tw-text-opacity: 1;
    color: rgb(228 228 231/var(--tw-text-opacity))
}

.text-zinc-400 {
    --tw-text-opacity: 1;
    color: rgb(161 161 170/var(--tw-text-opacity))
}

.text-zinc-500 {
    --tw-text-opacity: 1;
    color: rgb(113 113 122/var(--tw-text-opacity))
}

.text-zinc-600 {
    --tw-text-opacity: 1;
    color: rgb(82 82 91/var(--tw-text-opacity))
}

.text-zinc-700 {
    --tw-text-opacity: 1;
    color: rgb(63 63 70/var(--tw-text-opacity))
}

.text-zinc-800 {
    --tw-text-opacity: 1;
    color: rgb(39 39 42/var(--tw-text-opacity))
}

.opacity-80 {
    opacity: .8
}

.duration-100 {
    transition-duration: .1s
}

.duration-1000 {
    transition-duration: 1s
}

.duration-200 {
    transition-duration: .2s
}

.duration-300 {
    transition-duration: .3s
}

.duration-500 {
    transition-duration: .5s
}

.duration-\[600ms\] {
    transition-duration: .6s
}

h1,
h2,
h3,
h4 {
    font-family: var(--incognito), Inter, sans-serif
}

.path {
    stroke-dasharray: 500px 100px;
    animation: animate 100s linear infinite alternate-reverse
}

@keyframes animate {
    0% {
        stroke-dashoffset: 0
    }

    to {
        stroke-dashoffset: 12433.8193359375
    }
}

.before\:absolute:before {
    content: var(--tw-content);
    position: absolute
}

.before\:-left-4:before {
    content: var(--tw-content);
    left: -1rem
}

.before\:-left-5:before {
    content: var(--tw-content);
    left: -1.25rem
}

.before\:bottom-0:before {
    content: var(--tw-content);
    bottom: 0
}

.before\:left-9:before {
    content: var(--tw-content);
    left: 2.25rem
}

.before\:top-1\/2:before {
    content: var(--tw-content);
    top: 50%
}

.before\:top-\[5rem\]:before {
    content: var(--tw-content);
    top: 5rem
}

.before\:hidden:before {
    content: var(--tw-content);
    display: none
}

.before\:h-\[calc\(100\%-70px\)\]:before {
    content: var(--tw-content);
    height: calc(100% - 70px)
}

.before\:w-\[1px\]:before {
    content: var(--tw-content);
    width: 1px
}

.before\:-translate-y-1\/2:before {
    content: var(--tw-content);
    --tw-translate-y: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.before\:bg-zinc-200:before {
    content: var(--tw-content);
    --tw-bg-opacity: 1;
    background-color: rgb(228 228 231/var(--tw-bg-opacity))
}

.before\:text-2xl:before {
    content: var(--tw-content);
    font-size: 1.5rem;
    line-height: 2rem
}

.before\:text-xl:before {
    content: var(--tw-content);
    font-size: 1.25rem;
    line-height: 1.75rem
}

.before\:text-zinc-400:before {
    content: var(--tw-content);
    --tw-text-opacity: 1;
    color: rgb(161 161 170/var(--tw-text-opacity))
}

.before\:opacity-80:before {
    content: var(--tw-content);
    opacity: .8
}

.before\:content-\[\'\#\'\]:before {
    --tw-content: "#";
    content: var(--tw-content)
}

.hover\:border-\[\#e6d14fe7\]:hover {
    border-color: #e6d14fe7
}

.hover\:border-transparent:hover {
    border-color: transparent
}

.hover\:border-zinc-200:hover {
    --tw-border-opacity: 1;
    border-color: rgb(228 228 231/var(--tw-border-opacity))
}

.hover\:text-primary-color:hover {
    --tw-text-opacity: 1;
    color: rgb(51 224 146/var(--tw-text-opacity))
}

.hover\:text-zinc-700:hover {
    --tw-text-opacity: 1;
    color: rgb(63 63 70/var(--tw-text-opacity))
}

.hover\:text-zinc-900:hover {
    --tw-text-opacity: 1;
    color: rgb(24 24 27/var(--tw-text-opacity))
}

.hover\:underline:hover {
    text-decoration-line: underline
}

.hover\:before\:inline:hover:before {
    content: var(--tw-content);
    display: inline
}

.hover\:before\:hidden:hover:before {
    content: var(--tw-content);
    display: none
}

.group:hover .group-hover\:scale-125 {
    --tw-scale-x: 1.25;
    --tw-scale-y: 1.25;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.group:hover .group-hover\:text-zinc-800 {
    --tw-text-opacity: 1;
    color: rgb(39 39 42/var(--tw-text-opacity))
}

.group:hover .group-hover\:grayscale-0 {
    --tw-grayscale: grayscale(0);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

:is(.dark.hover\:dark\:border-\[\#ffdd0060\]):hover {
    border-color: #ffdd0060
}

:is(.dark.hover\:dark\:border-zinc-700):hover {
    --tw-border-opacity: 1;
    border-color: rgb(63 63 70/var(--tw-border-opacity))
}

:is(.dark.hover\:dark\:bg-\[\#2e290e44\]):hover {
    background-color: #2e290e44
}

:is(.dark.hover\:dark\:text-white):hover {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

.group:hover :is(.dark.group-hover\:dark\:text-white) {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

@media (min-width:640px) {
    .sm\:text-5xl {
        font-size: 3rem;
        line-height: 1
    }

    .sm\:text-6xl {
        font-size: 3.75rem;
        line-height: 1
    }

    .hover\:before\:sm\:inline-block:hover:before {
        content: var(--tw-content);
        display: inline-block
    }
}

@media (min-width:768px) {
    .md\:mb-28 {
        margin-bottom: 7rem
    }

    .md\:mt-0 {
        margin-top: 0
    }

    .md\:block {
        display: block
    }

    .md\:hidden {
        display: none
    }

    .md\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr))
    }

    .md\:flex-row {
        flex-direction: row
    }

    .md\:px-16 {
        padding-left: 4rem;
        padding-right: 4rem
    }
}

@media (min-width:1024px) {
    .lg\:order-1 {
        order: 1
    }

    .lg\:order-none {
        order: 0
    }

    .lg\:mt-32 {
        margin-top: 8rem
    }

    .lg\:h-32 {
        height: 8rem
    }

    .lg\:h-52 {
        height: 13rem
    }

    .lg\:h-\[500px\] {
        height: 500px
    }

    .lg\:max-h-full {
        max-height: 100%
    }

    .lg\:min-h-\[250px\] {
        min-height: 250px
    }

    .lg\:w-28 {
        width: 7rem
    }

    .lg\:w-60 {
        width: 15rem
    }

    .lg\:w-\[450px\] {
        width: 450px
    }

    .lg\:w-\[90\%\] {
        width: 90%
    }

    .lg\:min-w-\[700px\] {
        min-width: 700px
    }

    .lg\:max-w-2xl {
        max-width: 42rem
    }

    .lg\:max-w-7xl {
        max-width: 80rem
    }

    .lg\:max-w-\[950px\] {
        max-width: 950px
    }

    .lg\:grid-cols-2 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .lg\:grid-cols-4 {
        grid-template-columns: repeat(4, minmax(0, 1fr))
    }

    .lg\:grid-cols-\[75\%\2c 25\%\] {
        grid-template-columns: 75% 25%
    }

    .lg\:grid-cols-custom {
        grid-template-columns: 1.2fr 1fr
    }

    .lg\:flex-row {
        flex-direction: row
    }

    .lg\:items-end {
        align-items: flex-end
    }

    .lg\:items-center {
        align-items: center
    }

    .lg\:justify-around {
        justify-content: space-around
    }

    .lg\:gap-x-6 {
        -moz-column-gap: 1.5rem;
        column-gap: 1.5rem
    }

    .lg\:gap-y-8 {
        row-gap: 2rem
    }

    .lg\:justify-self-center {
        justify-self: center
    }

    .lg\:border-r {
        border-right-width: 1px
    }

    .lg\:border-t {
        border-top-width: 1px
    }

    .lg\:px-0 {
        padding-left: 0;
        padding-right: 0
    }

    .lg\:px-16 {
        padding-left: 4rem;
        padding-right: 4rem
    }

    .lg\:px-6 {
        padding-left: 1.5rem;
        padding-right: 1.5rem
    }

    .lg\:py-10 {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem
    }

    .lg\:py-6 {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem
    }

    .lg\:pl-6 {
        padding-left: 1.5rem
    }

    .lg\:pr-6 {
        padding-right: 1.5rem
    }

    .lg\:text-start {
        text-align: start
    }

    .lg\:text-3xl {
        font-size: 1.875rem;
        line-height: 2.25rem
    }

    .lg\:text-4xl {
        font-size: 2.25rem;
        line-height: 2.5rem
    }

    .lg\:font-bold {
        font-weight: 700
    }

    .lg\:leading-\[3\.7rem\] {
        line-height: 3.7rem
    }

    .lg\:leading-tight {
        line-height: 1.25
    }

    .lg\:before\:-left-5:before {
        content: var(--tw-content);
        left: -1.25rem
    }

    .lg\:before\:-left-6:before {
        content: var(--tw-content);
        left: -1.5rem
    }

    .lg\:before\:text-2xl:before {
        content: var(--tw-content);
        font-size: 1.5rem;
        line-height: 2rem
    }
}

@media (min-width:1280px) {
    .xl\:grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr))
    }

    .xl\:flex-row {
        flex-direction: row
    }

    .xl\:flex-col {
        flex-direction: column
    }

    .xl\:items-center {
        align-items: center
    }

    .xl\:justify-center {
        justify-content: center
    }
}

@font-face {
    font-family: custom_font_inter;
    src: url(../fonts/inter.woff2) format("woff2");
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    
}

.__className_d65c78 {
    font-family: custom_font_inter, monospace;
    font-style: normal
}

.__variable_d65c78 {
    --inter: "custom_font_inter"
}

@font-face {
    font-family: custom_font_incognito;
    src: url(../fonts/incognito.woff2) format("woff2");
    font-display: swap;
    font-weight: 600;
    font-style: normal
}

.__className_1a39c7 {
    font-family: custom_font_incognito, monospace;
}

.__variable_1a39c7 {
    --incognito: "custom_font_incognito"
}

@font-face {
    font-family: custom_font_gitlabmono;
    src: url(../fonts/gitlabmono.woff2) format("woff2");
    font-display: swap;
    font-style: normal
}


.__className_44f51c {
    font-family: custom_font_gitlabmono, monospace
}

.__variable_44f51c {
    --gitlabmono: "custom_font_gitlabmono"
}

.contribution-chart-container {
    width: 100%;  /* Adjust based on your desired container width */
    overflow-x: auto; /* Allow horizontal scrolling */
    display: flex; /* Align image in the container */
}
  
.contribution-chart {
    min-width: 800px;
    width: 100%;
}

.fadeInUp-animation {
    opacity: 0;
    animation: fadeIn 0.4s ease-in forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Apply staggered delay to each element */
.fadeInUp-animation:nth-child(1) { animation-delay: 0.1s; }
.fadeInUp-animation:nth-child(2) { animation-delay: 0.2s; }
.fadeInUp-animation:nth-child(3) { animation-delay: 0.3s; }
.fadeInUp-animation:nth-child(4) { animation-delay: 0.4s; }
.fadeInUp-animation:nth-child(5) { animation-delay: 0.5s; }
.fadeInUp-animation:nth-child(6) { animation-delay: 0.6s; }
.fadeInUp-animation:nth-child(7) { animation-delay: 0.7s; }
.fadeInUp-animation:nth-child(8) { animation-delay: 0.8s; }
.fadeInUp-animation:nth-child(9) { animation-delay: 0.9s; }
.fadeInUp-animation:nth-child(10) { animation-delay: 1.0; }